.Playground {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100svh;
    cursor: pointer;

    user-select: none;

    &__coins {
        font-weight: 700;
        font-size: 3rem;
    }

    &__click-trackers {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__click-tracker {
        font-weight: 700;
        font-size: 1.5rem;
        position: absolute;
        animation-name: click-tracker-disappearance;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes click-tracker-disappearance {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}