.Playground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100svh;
    cursor: pointer;

    user-select: none;

    &__coins {
        font-weight: 700;
        font-size: 3rem;
    }
}